pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.light-theme pre .hll { background-color: #ffffcc }
.light-theme pre { background: #f8f8f8; }
.light-theme pre .c { color: #8F5902; font-style: italic } /* Comment */
.light-theme pre .err { color: #A40000; border: 1px solid #EF2929 } /* Error */
.light-theme pre .g { color: #000 } /* Generic */
.light-theme pre .k { color: #204A87; font-weight: bold } /* Keyword */
.light-theme pre .l { color: #000 } /* Literal */
.light-theme pre .n { color: #000 } /* Name */
.light-theme pre .o { color: #CE5C00; font-weight: bold } /* Operator */
.light-theme pre .x { color: #000 } /* Other */
.light-theme pre .p { color: #000; font-weight: bold } /* Punctuation */
.light-theme pre .ch { color: #8F5902; font-style: italic } /* Comment.Hashbang */
.light-theme pre .cm { color: #8F5902; font-style: italic } /* Comment.Multiline */
.light-theme pre .cp { color: #8F5902; font-style: italic } /* Comment.Preproc */
.light-theme pre .cpf { color: #8F5902; font-style: italic } /* Comment.PreprocFile */
.light-theme pre .c1 { color: #8F5902; font-style: italic } /* Comment.Single */
.light-theme pre .cs { color: #8F5902; font-style: italic } /* Comment.Special */
.light-theme pre .gd { color: #A40000 } /* Generic.Deleted */
.light-theme pre .ge { color: #000; font-style: italic } /* Generic.Emph */
.light-theme pre .ges { color: #000; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.light-theme pre .gr { color: #EF2929 } /* Generic.Error */
.light-theme pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.light-theme pre .gi { color: #00A000 } /* Generic.Inserted */
.light-theme pre .go { color: #000; font-style: italic } /* Generic.Output */
.light-theme pre .gp { color: #8F5902 } /* Generic.Prompt */
.light-theme pre .gs { color: #000; font-weight: bold } /* Generic.Strong */
.light-theme pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.light-theme pre .gt { color: #A40000; font-weight: bold } /* Generic.Traceback */
.light-theme pre .kc { color: #204A87; font-weight: bold } /* Keyword.Constant */
.light-theme pre .kd { color: #204A87; font-weight: bold } /* Keyword.Declaration */
.light-theme pre .kn { color: #204A87; font-weight: bold } /* Keyword.Namespace */
.light-theme pre .kp { color: #204A87; font-weight: bold } /* Keyword.Pseudo */
.light-theme pre .kr { color: #204A87; font-weight: bold } /* Keyword.Reserved */
.light-theme pre .kt { color: #204A87; font-weight: bold } /* Keyword.Type */
.light-theme pre .ld { color: #000 } /* Literal.Date */
.light-theme pre .m { color: #0000CF; font-weight: bold } /* Literal.Number */
.light-theme pre .s { color: #4E9A06 } /* Literal.String */
.light-theme pre .na { color: #C4A000 } /* Name.Attribute */
.light-theme pre .nb { color: #204A87 } /* Name.Builtin */
.light-theme pre .nc { color: #000 } /* Name.Class */
.light-theme pre .no { color: #000 } /* Name.Constant */
.light-theme pre .nd { color: #5C35CC; font-weight: bold } /* Name.Decorator */
.light-theme pre .ni { color: #CE5C00 } /* Name.Entity */
.light-theme pre .ne { color: #C00; font-weight: bold } /* Name.Exception */
.light-theme pre .nf { color: #000 } /* Name.Function */
.light-theme pre .nl { color: #F57900 } /* Name.Label */
.light-theme pre .nn { color: #000 } /* Name.Namespace */
.light-theme pre .nx { color: #000 } /* Name.Other */
.light-theme pre .py { color: #000 } /* Name.Property */
.light-theme pre .nt { color: #204A87; font-weight: bold } /* Name.Tag */
.light-theme pre .nv { color: #000 } /* Name.Variable */
.light-theme pre .ow { color: #204A87; font-weight: bold } /* Operator.Word */
.light-theme pre .pm { color: #000; font-weight: bold } /* Punctuation.Marker */
.light-theme pre .w { color: #F8F8F8 } /* Text.Whitespace */
.light-theme pre .mb { color: #0000CF; font-weight: bold } /* Literal.Number.Bin */
.light-theme pre .mf { color: #0000CF; font-weight: bold } /* Literal.Number.Float */
.light-theme pre .mh { color: #0000CF; font-weight: bold } /* Literal.Number.Hex */
.light-theme pre .mi { color: #0000CF; font-weight: bold } /* Literal.Number.Integer */
.light-theme pre .mo { color: #0000CF; font-weight: bold } /* Literal.Number.Oct */
.light-theme pre .sa { color: #4E9A06 } /* Literal.String.Affix */
.light-theme pre .sb { color: #4E9A06 } /* Literal.String.Backtick */
.light-theme pre .sc { color: #4E9A06 } /* Literal.String.Char */
.light-theme pre .dl { color: #4E9A06 } /* Literal.String.Delimiter */
.light-theme pre .sd { color: #8F5902; font-style: italic } /* Literal.String.Doc */
.light-theme pre .s2 { color: #4E9A06 } /* Literal.String.Double */
.light-theme pre .se { color: #4E9A06 } /* Literal.String.Escape */
.light-theme pre .sh { color: #4E9A06 } /* Literal.String.Heredoc */
.light-theme pre .si { color: #4E9A06 } /* Literal.String.Interpol */
.light-theme pre .sx { color: #4E9A06 } /* Literal.String.Other */
.light-theme pre .sr { color: #4E9A06 } /* Literal.String.Regex */
.light-theme pre .s1 { color: #4E9A06 } /* Literal.String.Single */
.light-theme pre .ss { color: #4E9A06 } /* Literal.String.Symbol */
.light-theme pre .bp { color: #3465A4 } /* Name.Builtin.Pseudo */
.light-theme pre .fm { color: #000 } /* Name.Function.Magic */
.light-theme pre .vc { color: #000 } /* Name.Variable.Class */
.light-theme pre .vg { color: #000 } /* Name.Variable.Global */
.light-theme pre .vi { color: #000 } /* Name.Variable.Instance */
.light-theme pre .vm { color: #000 } /* Name.Variable.Magic */
.light-theme pre .il { color: #0000CF; font-weight: bold } /* Literal.Number.Integer.Long */
