pre { line-height: 125%; }
td.linenos .normal { color: #aaaaaa; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #aaaaaa; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.dark-theme pre .hll { background-color: #404040 }
.dark-theme pre { background: #202020; color: #D0D0D0 }
.dark-theme pre .c { color: #ABABAB; font-style: italic } /* Comment */
.dark-theme pre .err { color: #A61717; background-color: #E3D2D2 } /* Error */
.dark-theme pre .esc { color: #D0D0D0 } /* Escape */
.dark-theme pre .g { color: #D0D0D0 } /* Generic */
.dark-theme pre .k { color: #6EBF26; font-weight: bold } /* Keyword */
.dark-theme pre .l { color: #D0D0D0 } /* Literal */
.dark-theme pre .n { color: #D0D0D0 } /* Name */
.dark-theme pre .o { color: #D0D0D0 } /* Operator */
.dark-theme pre .x { color: #D0D0D0 } /* Other */
.dark-theme pre .p { color: #D0D0D0 } /* Punctuation */
.dark-theme pre .ch { color: #ABABAB; font-style: italic } /* Comment.Hashbang */
.dark-theme pre .cm { color: #ABABAB; font-style: italic } /* Comment.Multiline */
.dark-theme pre .cp { color: #FF3A3A; font-weight: bold } /* Comment.Preproc */
.dark-theme pre .cpf { color: #ABABAB; font-style: italic } /* Comment.PreprocFile */
.dark-theme pre .c1 { color: #ABABAB; font-style: italic } /* Comment.Single */
.dark-theme pre .cs { color: #E50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.dark-theme pre .gd { color: #FF3A3A } /* Generic.Deleted */
.dark-theme pre .ge { color: #D0D0D0; font-style: italic } /* Generic.Emph */
.dark-theme pre .ges { color: #D0D0D0; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.dark-theme pre .gr { color: #FF3A3A } /* Generic.Error */
.dark-theme pre .gh { color: #FFF; font-weight: bold } /* Generic.Heading */
.dark-theme pre .gi { color: #589819 } /* Generic.Inserted */
.dark-theme pre .go { color: #CCC } /* Generic.Output */
.dark-theme pre .gp { color: #AAA } /* Generic.Prompt */
.dark-theme pre .gs { color: #D0D0D0; font-weight: bold } /* Generic.Strong */
.dark-theme pre .gu { color: #FFF; text-decoration: underline } /* Generic.Subheading */
.dark-theme pre .gt { color: #FF3A3A } /* Generic.Traceback */
.dark-theme pre .kc { color: #6EBF26; font-weight: bold } /* Keyword.Constant */
.dark-theme pre .kd { color: #6EBF26; font-weight: bold } /* Keyword.Declaration */
.dark-theme pre .kn { color: #6EBF26; font-weight: bold } /* Keyword.Namespace */
.dark-theme pre .kp { color: #6EBF26 } /* Keyword.Pseudo */
.dark-theme pre .kr { color: #6EBF26; font-weight: bold } /* Keyword.Reserved */
.dark-theme pre .kt { color: #6EBF26; font-weight: bold } /* Keyword.Type */
.dark-theme pre .ld { color: #D0D0D0 } /* Literal.Date */
.dark-theme pre .m { color: #51B2FD } /* Literal.Number */
.dark-theme pre .s { color: #ED9D13 } /* Literal.String */
.dark-theme pre .na { color: #BBB } /* Name.Attribute */
.dark-theme pre .nb { color: #2FBCCD } /* Name.Builtin */
.dark-theme pre .nc { color: #71ADFF; text-decoration: underline } /* Name.Class */
.dark-theme pre .no { color: #40FFFF } /* Name.Constant */
.dark-theme pre .nd { color: #FFA500 } /* Name.Decorator */
.dark-theme pre .ni { color: #D0D0D0 } /* Name.Entity */
.dark-theme pre .ne { color: #BBB } /* Name.Exception */
.dark-theme pre .nf { color: #71ADFF } /* Name.Function */
.dark-theme pre .nl { color: #D0D0D0 } /* Name.Label */
.dark-theme pre .nn { color: #71ADFF; text-decoration: underline } /* Name.Namespace */
.dark-theme pre .nx { color: #D0D0D0 } /* Name.Other */
.dark-theme pre .py { color: #D0D0D0 } /* Name.Property */
.dark-theme pre .nt { color: #6EBF26; font-weight: bold } /* Name.Tag */
.dark-theme pre .nv { color: #40FFFF } /* Name.Variable */
.dark-theme pre .ow { color: #6EBF26; font-weight: bold } /* Operator.Word */
.dark-theme pre .pm { color: #D0D0D0 } /* Punctuation.Marker */
.dark-theme pre .w { color: #666 } /* Text.Whitespace */
.dark-theme pre .mb { color: #51B2FD } /* Literal.Number.Bin */
.dark-theme pre .mf { color: #51B2FD } /* Literal.Number.Float */
.dark-theme pre .mh { color: #51B2FD } /* Literal.Number.Hex */
.dark-theme pre .mi { color: #51B2FD } /* Literal.Number.Integer */
.dark-theme pre .mo { color: #51B2FD } /* Literal.Number.Oct */
.dark-theme pre .sa { color: #ED9D13 } /* Literal.String.Affix */
.dark-theme pre .sb { color: #ED9D13 } /* Literal.String.Backtick */
.dark-theme pre .sc { color: #ED9D13 } /* Literal.String.Char */
.dark-theme pre .dl { color: #ED9D13 } /* Literal.String.Delimiter */
.dark-theme pre .sd { color: #ED9D13 } /* Literal.String.Doc */
.dark-theme pre .s2 { color: #ED9D13 } /* Literal.String.Double */
.dark-theme pre .se { color: #ED9D13 } /* Literal.String.Escape */
.dark-theme pre .sh { color: #ED9D13 } /* Literal.String.Heredoc */
.dark-theme pre .si { color: #ED9D13 } /* Literal.String.Interpol */
.dark-theme pre .sx { color: #FFA500 } /* Literal.String.Other */
.dark-theme pre .sr { color: #ED9D13 } /* Literal.String.Regex */
.dark-theme pre .s1 { color: #ED9D13 } /* Literal.String.Single */
.dark-theme pre .ss { color: #ED9D13 } /* Literal.String.Symbol */
.dark-theme pre .bp { color: #2FBCCD } /* Name.Builtin.Pseudo */
.dark-theme pre .fm { color: #71ADFF } /* Name.Function.Magic */
.dark-theme pre .vc { color: #40FFFF } /* Name.Variable.Class */
.dark-theme pre .vg { color: #40FFFF } /* Name.Variable.Global */
.dark-theme pre .vi { color: #40FFFF } /* Name.Variable.Instance */
.dark-theme pre .vm { color: #40FFFF } /* Name.Variable.Magic */
.dark-theme pre .il { color: #51B2FD } /* Literal.Number.Integer.Long */
